<div class="container">
    <!--begin::Page Layout-->
    <div class="d-flex flex-row">
        <!--begin::Aside-->

        <!--end::Aside-->
        <!--begin::Layout-->
        <div class="flex-row-fluid ml-lg-8">
            <!--begin::Section-->
            <!--begin::Engage Widget 13-->
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <!--begin::Card Body-->
                <div class=" d-flex rounded  flex-column flex-md-row flex-lg-column flex-xxl-row"
                    *ngIf="(item$|async) as item">
                    <!--begin::Image-->
                    <div class="bgi-no-repeat bgi-position-center bgi-size-cover h-300px h-md-auto h-lg-300px h-xxl-auto mw-100 w-550px"
                        [ngStyle]="{'background-image': 'url(' + api + '/img/'+item.image+')'}"></div>
                    <!--end::Image-->
                    <div class="card card-custom w-auto w-md-400px w-lg-auto w-xxl-400px ml-auto">
                        <!--begin::Body-->
                        <div class="card-body">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center">

                                <!--begin::Info-->
                                <div class="d-flex flex-column mr-auto">
                                    <!--begin: Title-->
                                    <div class="d-flex flex-column mr-auto">
                                        <a href="#"
                                            class="text-dark text-hover-primary font-size-h4 font-weight-bolder mb-1">{{item.name}}</a>
                                        <!-- <span class="text-muted font-weight-bold">{{item.description}}</span> -->
                                    </div>
                                    <!--end::Title-->
                                </div>
                                <!--end::Info-->

                            </div>
                            <!--end::Info-->
                            <!--begin::Description-->
                            <div class="mb-10 mt-5 font-weight-bold">{{item.description}}</div>
                            <!--end::Description-->
                            <!-- begin::Specs-->
                            <div class="mb-6">
                                <div class="d-flex mb-3">
                                    <span class="text-dark-50 flex-root font-weight-bold">Price</span>
                                    <span class="text-dark flex-root font-weight-bold">${{item.price}}</span>
                                </div>
                                <div class="d-flex mb-3">
                                    <span class="text-dark-50 flex-root font-weight-bold">Current Bid</span>
                                    <span class="text-dark flex-root font-weight-bold">${{item.lastBid}}</span>
                                </div>
                                <div class="d-flex mb-3">
                                    <span class="text-dark-50 flex-root font-weight-bold">Start</span>
                                    <span class="text-dark flex-root font-weight-bold">{{item.auctionStart|
                                        date}}</span>
                                </div>
                                <div class="d-flex mb-3">
                                    <span class="text-dark-50 flex-root font-weight-bold">End</span>
                                    <span class="text-dark flex-root font-weight-bold">{{item.auctionEnd|date}}</span>
                                </div>
                            </div>
                            <div class="text-danger mb-1" *ngIf="errorMsg">{{errorMsg}}</div>
                            <!-- end::Specs-->
                            <div class="d-flex">
                                <!-- begin:Bid Now-->
                                <div class="d-flex align-items-center mr-7">
                                    <div class="dropdown dropdown-inline">
                                        <a href="#" class="btn btn-primary font-weight-bolder font-size-sm"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bid
                                            Now</a>

                                        <!-- <a href="#" class="btn btn-clean btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="ki ki-bold-more-hor"></i>
                                                            </a> -->
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right" style="">
                                            <!--begin::Naviigation-->
                                            <ul class="navi">
                                                <li class="navi-item">
                                                    <a class="navi-link flex-column ">
                                                        <input  [(ngModel)]="bidAmount" type="number" class="form-control"
                                                            placeholder="Enter amount">
                                                        <span class="form-text text-muted align-self-start ml-1">Must
                                                            enter {{item.lastBid!+1}} or above</span>
                                                    </a>
                                                </li>

                                                <li class="navi-separator mt-3 opacity-70"></li>
                                                <li class="navi-footer pt-5 pb-4">
                                                    <a [class.disabled]="bidAmount<((item.lastBid!+1)|| (item!.price)!)" class="btn btn-light-primary font-weight-bolder btn-sm" (click)="bidNow()">Submit
                                                        Bid</a>
                                                    <a class="btn btn-clean font-weight-bold btn-sm d-none" href="#"
                                                        data-toggle="tooltip" data-placement="right" title=""
                                                        data-original-title="Click to learn more...">Learn more</a>
                                                </li>
                                            </ul>
                                            <!--end::Naviigation-->
                                        </div>
                                    </div>

                                </div>
                                <!-- end:Bid Now-->
                                <!-- begin:Auto Bid-->
                                <div class="d-flex align-items-center mr-7" >
                                    <a href="#" class="btn btn-outline-success" *ngIf="(isAutoBidEnabled$| async);else enable">
                                        <i class="flaticon2-check-mark"></i> AutoBid Enabled
                                    </a> 
                                   
                                    <ng-template #enable>
                                        <a class="btn btn-outline-secondary" >
                                            <i class="flaticon2-poll-symbol"></i> Enable AutoBid
                                        </a>
                                    </ng-template>
                                     
                                </div>
                               
                                <!-- end:Auto Bid-->
                            </div>


                        </div>
                        <!--end::Body-->
                        <!--begin::Footer-->
                        <div class="card-footer p-3 d-flex justify-content-center">
                            <app-countdown [endDate]="item.auctionEnd!"></app-countdown>
                        </div>
                        <!--end::Footer-->
                    </div>
                </div>
                <!--end::Card Body-->
            </div>
            <!--end::Card-->
            <!--end::Engage Widget 13-->
            <!--end::Section-->
            <!--begin::Section-->
            <!--begin::Advance Table Widget 10-->
            <div class="card card-custom">
                <!--begin::Header-->
                <div style="min-height: 0px;" class="card-header border-0">
                    <h3 class="card-title align-items-start flex-column py-4">
                        <span class="card-label font-weight-bolder text-dark">Bids History</span>
                    </h3>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body py-0">
                    <app-bids-history [bidsHistory]="bidsHistory$ |async"></app-bids-history>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Advance Table Widget 10-->
            <!--end::Section-->
        </div>
        <!--end::Layout-->
    </div>
    <!--end::Page Layout-->
</div>