<div class="card card-custom card-shadowless" *ngIf="item">
	<div class="card-body p-0">
		<!--begin::Image-->
		<div class="overlay">
			<div class="overlay-wrapper rounded bg-light text-center">
				<img [src]="api+'/img/'+item.image" alt="" class="mw-100 w-200px">
			</div>
			<div class="overlay-layer">
				<a class="btn font-weight-bolder btn-sm btn-primary " [routerLink]="['/items/detail',item.id]">Bid Now</a>
			</div>
		</div>
		<!--end::Image-->
		<!--begin::Details-->
		<div class="text-center mt-5 mb-md-0 mb-lg-5 mb-md-0 mb-lg-5 mb-lg-0 mb-5 d-flex flex-column">
			<a href="#" class="font-size-h5 font-weight-bolder text-dark-75 text-hover-primary mb-1">{{item.name}}<span class="label label-light-danger label-inline font-weight-bold cursor-pointer">${{item.price}}</span></a>
			<span class="font-size-lg">{{item.description?.substring(0, 15)}}</span>
		</div>
		<!--end::Details-->
	</div>
</div>