	<div class="card card-custom mb-12 container">
							<div class="card-body rounded p-0 d-flex" style="background-color:#DAF0FD;">
								<div class="d-flex flex-column flex-lg-row-auto w-auto w-lg-350px w-xl-450px w-xxl-500px p-10 p-md-20">
									<h1 class="font-weight-bolder text-dark">Search Goods</h1>
									<div class="font-size-h4 mb-8">Get Amazing Gadgets</div>
									
								</div>
								<div class="d-none d-md-flex flex-row-fluid bgi-no-repeat bgi-position-y-center bgi-position-x-left bgi-size-cover" 
								style="background-image: url(/assets/img/progress.svg);"></div>
							</div>
						</div>